<div id="cookieModal">
	<div class="card">
		<div class="content">
			<h3>Du har kontroll över dina uppgifter</h3>
			<p>Vi och våra affärspartners använder teknik, inklusive cookies, för att samla in information om dig för olika ändamål,  inklusive: personalisering av innehåll och annonser, analysera vår trafik och ge tillgång till funktioner i sociala medier.</p>
			<p>Genom att klicka "Godkänn" ger du ditt samtycke till samtliga syften. Du kan också välja att uppge vilka syften du samtycker till genom att klicka i rutan bredvid syftet och sedan "Spara valda inställningar".</p>
			<p>Du kan när som helst ta tillbaka ditt samtycke genom att klicka på den lilla ikonen i det nedre vänstra hörnet på sidan.</p>
			<p>Klicka på länken för att läsa mer om hur vi använder kakor och andra tekniska lösningar och hur vi inhämtar och behandlar personuppgifter.</p>
			<p><a href="#">Läs mer här</a></p>
		</div>
		<form id="cookieConsentForm" class="settings">
			<h4>Cookies</h4>
			<div class="options">
				<div class="option">
					<label class="switch-label" for="cookieEssential">
						<i class="fa-solid fa-chevron-down"></i>
						Nödvändiga (alltid aktiva)
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieEssential" name="essential" checked disabled>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieFunctional">
						<i class="fa-solid fa-chevron-down"></i>
						Funktionella
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieFunctional" name="functional">
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieAnalytics">
						<i class="fa-solid fa-chevron-down"></i>
						Analys & Statistik
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieAnalytics" name="analytics">
						<span class="slider round"></span>
					</label>
				</div>
				<div class="option">
					<label class="switch-label" for="cookieMarketing">
						<i class="fa-solid fa-chevron-down"></i>
						Marknadsföring
					</label>
					<label class="switch">
						<input type="checkbox" id="cookieMarketing" name="marketing">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
			<div class="buttons">
				<button type="button" class="btn btn-dark" onclick="acceptAll()">GODKÄNN ALLA</button>
				<button type="button" class="btn btn-dark-outline" onclick="acceptSelected()">SPARA VALDA INSTÄLLNINGAR</button>
			</div>
		</form>
	</div>
</div>

<div class="cookieConsentIcon" onclick="showCookieModal()">
	<i class="fa-solid fa-cookie-bite"></i>
</div>