@model SignUpViewModel
@{
    Layout = "_CenterLayout";
    ViewData["Title"] = "Create Account";
}
<section id="signup">
    <h1>@ViewData["Title"]</h1>
    <form asp-controller="Auth" asp-action="SignUp" method="post" novalidate enctype="multipart/form-data">

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert-notification error">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="form-flex">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <div class="field-group">
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <div class="field-group">
                    <input asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <div class="field-group">
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobTitle"></label>
            <div class="field-group">
                <input asp-for="JobTitle" />
                <span asp-validation-for="JobTitle"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="field-group">
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <div class="field-group">
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
        <div class="form-group form-flex">
            <input asp-for="TermsAndConditions" type="checkbox" />
            <label asp-for="TermsAndConditions"></label>
            <span asp-validation-for="TermsAndConditions"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-blue btm-submit">Create Account</button>
        </div>
        <div class="form-footer">
            <span>Already have an account?</span>
            <a asp-controller="Auth" asp-action="SignIn"> Login</a>
        </div>
    </form>
</section>

@await Html.PartialAsync("_ValidationScripts")